@import "tailwindcss";

:root {
  --primary-color: #f09942;
  --secondary-color: #fce8d6;
  --background-color: #fffaf0;
  --text-primary: #4a2c2a;
  --text-secondary: #7a5c5a;
  --accent-color: #ffe0b2;
  --cream: #fffaf0;
  --light-pink: #fce8d6;
  --beige: #f5e6cc;
  --soft-brown: #a07855;
}
body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-primary);
}
.font-script {
  font-family: "Newsreader", serif;
}
